logfile = libraryiq_export.log

# Temporary directory to store the output files during processing
tempdir = tmp

# Directory to store the output files
archive = archive

# Whether to cleanup old archive files after processing.
# If active, the script will only keep the latest diff and full extract files.
# The tempdir will be cleaned up regardless of this setting.
# This is useful for testing, but should be disabled in production.
cleanup = 1

# This needs to match actor.org_unit.shortname
# comma separated list of branch/system shortnames, case insensitive
librarynames = BR1, BR2, BR3, BR4

# Temporal overlap for diff extraction
# This means that the diff extracts will go back 3 days before the last run
# This is to ensure that no data is missed in case of a missed run.
diff_overlap_days = 3

# Include descendants?
# any value here is considered "yes"
include_org_descendants = 1

# How much of the database to read per loop
chunksize = 500

# Prefix for the output file(s)
filenameprefix = consortium

# Compress the output file(s) into a tar.gz file
# uncomment to enable
# compressoutput = 1

# SFTP Server to drop off
ftphost = sample.com
ftplogin = sample
ftppass = sample
remote_directory = /sample/sample2/sample3

# only 1 email address for alwaysemail
alwaysemail = sample@sample.org

fromemail = no-reply-sample@sample.org
erroremaillist = sample@sample.org, another2@sample.org
successemaillist = sample@sample.org, another@sample.org
